.color{
        background-color: lightseagreen;
}

.titulo{
	text-align: center;
	font-family: "Myriad Pro", Arial, sans-serif;
        
}

.field{
    border: 2px solid #26a69a;
    margin: 0px 2px;
    padding: 1.35em 3.625em 1.75em;
}
.legend{
    font-size: 17px;
    margin: auto; 
}
#requerido{
    font-size: 17px;
}
#form{
    padding-top: 14px;
}


.enviar{
    
    margin-top: 29px;
    margin-bottom: 29px
}


#textoPantalla{
    font-family: "Myriad Pro", Arial, sans-serif;
     font-weight: bold;
    text-align: center;
}
.volver{
    font-size: 17px;
}
.num{
     width:50px !important;;
     height:50px !important;
     padding:18px 10px 8px;
     color:#c0c0c0 !important;
     background-color:#2f2f2f;
     border: #000 2px solid;
     border-radius:5px;
     display: inline-table;;
     font-family: "Myriad Pro", Arial, sans-serif;
     text-align: center;
     text-decoration: none;
     font-size:1.6em;
     
}

table{
    margin-top: 63px;
    margin-bottom: 42px;
}

h4{
   margin-top: 34px;
}



